.top_wz_container {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}
.top_form_wizard {
  display: inline-flex;
  background: #ffffff;
  border: 1px solid #84C28F;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 10px 0px;
  height: 72px;
}
.top_form_wizard .item_wizard .wz_icon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
  color: #999999;
  transition: all 0.5s;
}
.top_form_wizard .item_wizard.active .wz_icon {
  color: #fff;
  border-radius: 50%;
  background: #329945;
}
.top_form_wizard .item_wizard .wz_icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.top_form_wizard .item_wizard .info {
  width: 0px;
  overflow: hidden;
  transition: width 0.5s;
}
.top_form_wizard .item_wizard.active .info {
  padding-left: 10px;
  width: 160px;
}
.top_form_wizard .item_wizard .step {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #329945;
  padding-bottom: 6px;
  text-align: left;
}
.top_form_wizard .item_wizard .label {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top_form_wizard .item_wizard {
  display: flex;
  padding: 0px 15px;
  border-right: 1px solid;
  border-color: #84C28F;
}
.top_form_wizard .item_wizard:last-child {
  border-color: #00000000;
}
.top_form_wizard .item_wizard.done .wz_icon {
  background: #e4fbe8;
  color: #329945;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .view_ql {
    font-size: 11px;
  }
  .top_form_wizard .item_wizard.active .info {
    display: none;
  }
  .top_form_wizard {
    width: 100%;
  }
  .top_form_wizard .item_wizard {
    width: 25%;
  }
  .top_form_wizard .item_wizard.active .wz_icon, .top_form_wizard .item_wizard .wz_icon {
    width: 36px;
    height: 36px;
  }
  .top_form_wizard {
    height: 58px;
  }
  .count-5.top_form_wizard .item_wizard{
    width: 20%!important;
  }
}
