.top_title {
  margin-top: 24px;
}

.top_title h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #329945;
}

.top_title p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .top_title {
    margin-top: 16px;
  }
  .top_title h1 {
    font-size: 16px;
    line-height: 23px;
  }

  .top_title p {
    font-size: 14px;
    line-height: 21px;
  }
}


@media only screen and (max-width: 600px) {
  .top_title h1 {
    font-size: 16px!important;
  }
}