/* thumbnail classes */
.thumbnail_wrapper {
  width: 80px;
  height: 85px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #68738a;
  touch-action: manipulation;
}

.thumbnail_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto auto;
  object-position: center;
}

/* previewer classes */
.preview-wrapper {
  width: 100%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  flex-direction: column;
  touch-action: manipulation;
}

/* icon buttons */
.preview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 24px;
  text-align: center;
  border-radius: 3px;
  touch-action: manipulation;
  background-color: transparent;
}

.preview-button:hover,
.preview-button:active {
  cursor: pointer;
  touch-action: manipulation;
  background-color: rgba(255, 255, 255, 0.25);
}

.preview-button:disabled {
  opacity: 0.5;
  cursor: default;
  touch-action: manipulation;
}

.preview-bar {
  color: #fff;
  width: 100%;
  height: 52px;
  display: flex;
  min-height: 52px;
  max-height: 52px;
  align-items: center;
  align-content: center;
  background-color: #2b2f39;
  touch-action: manipulation;
  justify-content: space-between;
}

.preview-bar-left,
.preview-bar-left {
  padding: 6px;
  display: flex;
  align-items: center;
}

.preview-bar-left button {
  margin-right: 3px;
}

.preview-bar-left span.preview-pagecount {
  margin-left: 6px;
}

.preview-bar-right button {
  margin-left: 6px;
}

.preview-icons {
  right: 12px;
  z-index: 999;
  bottom: 24px;
  padding: 6px;
  display: flex;
  position: absolute;
  border-radius: 3px;
  flex-direction: column;
  touch-action: manipulation;
  background-color: rgba(0, 0, 0, 0.5);
}

.preview-icons button {
  margin-top: 6px;
}

.preview-icons button:first-child {
  margin-top: 0;
}

.preview-content {
  width: 100%;
  display: flex;
  overflow: scroll;
  position: relative;
  background-color: #68738a;
  touch-action: manipulation;
  height: calc(100vh - 52px);
}

.preview-content .preview-file {
  margin: auto;
  padding: 12px;
}

.preview-content .preview-file img {
  transition-delay: 0ms, 0ms, 0ms, 250ms;
  transition-duration: 250ms, 250ms, 250ms, 350ms;
  transition-property: width, height, transform, opacity;

  transform-origin: center center;
}

.preview-pdf-page {
  margin-bottom: 12px;
}

.media-thumbnail {
  overflow: hidden;
  pointer-events: none;
  background-size: cover;
  touch-action: manipulation;
  background-position: center;
}

.media-thumbnail img {
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}

.media-thumbnail .react-pdf__Page {
  padding: 0;
  touch-action: manipulation;
}

.react-pdf__Page__annotations.annotationLayer {
  display: none;
}

.upload_container {
  padding-bottom: 20px;
  display: flex;
}
.upload_container .wrap_item1 {
  width: 46px;
  height: 46px;
}
.ml-10 {
  margin-left: 10px;
}

.upload_container .upload_item i {
  transition: all 0.5s;
}
.upload_container .upload_item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #329945;
  background: #d9ffe6;
  border: 1px dashed #dddddd;
  position: relative;
  border-radius: 5px;
  transition: all 0.5s;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.wrap_item2 .upload_item {
  padding: 10px 54px;
}
.upload_container .wrap_item1 .upload_item i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload_container .upload_item:hover i {
  color: #228234;
}
.upload_container .upload_item:hover {
  background: #c4efd2;
  border-color: #228234;
}
.wrap_item1 .thumbnail_wrapper img {
  width: 100%;
  height: 100%;
}
.wrap_item1 .preview_item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed #ddd;
  cursor: pointer;
}
.preview_item img {
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.preview_item:hover img {
  opacity: 0.6;
}
.preview_item:hover img {
  border-color: #228234;
}
.last_item .overlay_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #0000009e;
  border-radius: 5px;
  z-index: 9;
}
.last_item .overlay_item:hover {
  background: #000000b5;
}
.upload_container .last_item {
  position: relative;
  cursor: pointer;
}
.upload_container .last_item .span_text {
  position: absolute;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.upload_container .last_item {
}
.upload_container.last_item {
}
.div_flexbox {
  align-self: flex-start;
  margin-top: auto;
}
.dialog_preview_file_container {
  position: fixed;
  background-color: #000000cc;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.dialog_preview_file_container.hide {
  display: none;
}
.dialog_preview_file_container .wraper_view_file {
  width: 452px;
  margin: 0 auto;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dialog_preview_file_container .preview-bar {
  display: flex;
}
.dialog_preview_file_container .preview-bar-left {
  width: 100%;
}
.dialog_preview_file_container button {
  border: none;
  color: #329945;
  background: none;
}
.dialog_preview_file_container img {
  width: 100%;
}
.dialog_preview_file_container .controller {
  height: 60px;
  padding: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 45%) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.dialog_preview_file_container .controller .delete_file {
  cursor: pointer;
  color: #4c4242;
  background: #ffffff73;
  padding: 3px;
  width: 58px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s;
  float: right;
}
.dialog_preview_file_container .controller .delete_file:hover {
  color: #e74c3c;
}
.dialog_preview_file_container .controller .delete_file i {
  margin-right: 5px;
}
.dialog_preview_file_container .thumb_list {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dialog_preview_file_container .thumb_list .thumbnail_preview {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.img_thumb_file {
  border-radius: 5px;
}
.dialog_preview_file_container .thumb_list .react-pdf__Document {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  cursor: pointer;
}

.dialog_preview_file_container .backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.dialog_preview_file_container .prevw {
  position: relative;
}
.afr {
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
}
.dialog_preview_file_container .preview_file {
  text-align: center;
}
.dialog_preview_file_container .thumb_list .slick-slider.slick-initialized {
  width: 100%;
}
.img_thumb_file {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.thumbnail_wrapper {
  width: 100%;
  height: 100%;
}
.claim_slider_preview_file {
  width: 100%;
}

.upload_cs .wrap_item2 {
  width: 100%;
}
.upload_cs .wrap_item1 {
  width: 73px;
  height: 73px;
}
.upload_cs .wrap_item1 .upload_item {
  background: #f7f7f7;
}
.upload_cs .wrap_item2 .upload_item {
  height: 73px;
  display: flex;
  align-items: center;
  background: #f7f7f7;
}
.upload_cs .wrap_item2 .upload_item .container_drop {
  display: flex;
  justify-content: center;
}
