.discover_insur_cs {
  width: 190px;
  height: 40px;
  background: #329945;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  padding: 10px 18px;
}
.discover_insur_cs:hover {
  background: #329945;
  color: #ffffff;
}
.btn_back_home {
  width: 190px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #329945;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 14px;
  color: #329945;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  padding: 10px 18px;
  margin-left: 30px;
}
.btn_back_home:hover {
  background: #ffffff;
  color: #329945;
  border: 1px solid #329945;
}
.content_success_reg {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #212121;
}
.jjksx {
  padding: 10px 0px;
}
.jjksx .delete_ngbd {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-decoration-line: underline;
  color: #da2128;
  cursor: pointer;
}
.red_para {
  color: #da2128;
}
.qlbs p {
  margin-bottom: 0 !important;
}
.person_is {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #212121;
}
.cs_mb_0 p{
  margin-bottom: 0;
}
.css_info_order {
  font-weight: bold;
}
.css_color_green {
  color: #329945;
}
.css_mg_top {
  margin-top: -80px;
}
.buy_more_css {
  width: 160px;
  height: 40px;
  background: #FFFFFF;
  color: #329945;
  border: 1px solid #329945;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
}
.add_info_css {
  width: 160px;
  height: 40px;
  color: white;
  background: #DA2128;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}
.add_info_css:hover, .add_info_css:active, .add_info_css:focus  {
  background: #DA2128 !important;
  border: none !important;
  border-radius: 8px !important;
}


.buy_more_css:active {
  border-radius: 8px !important;
  color: #329945 !important;
}
.buy_more_css:focus {
  background: #FFFFFF !important;
  border-radius: 8px !important;
  color: #329945;
  border-color: #329945 !important;
}
.buy_more_css:hover {
  background: #FFFFFF !important;
  border-radius: 8px !important;
  color: #329945;
  border: 1px solid #329945 !important;
}
.css_soluong {
  display: flex;
  padding: 0px;
}
.contain_css_sl {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.css_fee_sl {
  display: flex;
  align-items: center;
}
.css_rong_kt {
  width: 100%;
}
.css_color_red {
  color: #DA2128;
}

.react-modal-sheet-backdrop {
 border: none;
}

.buy_done_class{
    background-color: rgb(232, 250, 237);
    border: 1px solid rgb(232, 250, 237);
    border-radius: 16px;
}
.form-contain{
  max-width: 1200px;
  margin: 0 auto;
}
.bs-popover-bottom{
  z-index: 999999999;
}
#react-confirm-alert, .react-confirm-alert-overlay{
  z-index: 999999999!important;
}

#ct-container{
  z-index: 9999999999999!important;
}
.form-contain{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.form-contain::-webkit-scrollbar {
  display: none;
}


/*VNAT SDK*/

.bottom_line_form{
  border-bottom: 1px solid #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
.eclaim.cb p{
  margin-bottom: 0px!important;
}
.btn_dieu_tri_khac{
  width: 100%;
  height: 100%;
  background: rgba(50, 153, 69, 0.1);
  border-radius: 8px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #329945;
  border: none;
}
.btn_dieu_tri_khac:hover{
  background: #c8eccc!important;
  background-color: #c8eccc!important;
  color: #329945!important;
}
.upload-frame-container{
  margin-top: 30px;
}
.upload-frame-container .upload-f-item{
   margin-bottom: 15px;
}
.upload-frame-container .upload-f-item .upload-body{
  background: #F9F9F9;
  /*padding: 10px;*/
}
.upload-frame-container .upload-f-item.activated .upload-header{
  border: none;
  background: #F9F9F9;
}
.upload-frame-container .upload-f-item.activated{
  background: #F9F9F9;
  border: 1px solid #dddddd;
}
.upload-frame-container .upload-f-item{

}
.upload-frame-container .upload-f-item .upload-header{
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
 
}
.upload-frame-container .card .card-body{
  background: #F9F9F9;
}
.upload-frame-container .upload-ctx{
  padding: 15px;
  border-top: 1px solid #dddddd;
}
.upload-frame-container .upload-f-item .upload-header{
  display: flex;
}
.upload-frame-container .upload-f-item .upload-header .fa-angle-down{
  color: #329945;
  padding-top: 6px;
}
.upload-frame-container .upload-f-item.activated .upload-header .fa-angle-down{
  transform: rotate(180deg);
}
.upload-frame-container .upload-f-item .upload-header{
}
.upload-frame-container .upload-f-item .upload-header{
}
.upload-frame-container .upload-f-item .upload-header{
}
.upload-frame-container .upload-f-item .upload-header{
}
.upload-frame-container .upload-f-item .upload-header .title{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}



.accordion-f-item{
  background: #fff;
  border: 1px solid #EEEEEE;
  padding: 5px;
  margin-top: 15px;
}
.accordion-f-item .accordion-header{
  display: flex;
  padding: 10px;
}
.accordion-f-item .accordion-header .title{
  width: 100%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.accordion-f-item .accordion-header .fas.fa-angle-down{
  color: #329945;
  padding-top: 6px;
}
.accordion-f-item.active-item  .fas.fa-angle-down{
  transform: rotate(180deg);
}
.accordion-f-item.active-item {
  background: #F9F9F9;
  border: 1px solid #EEEEEE;
}
.accordion-f-item.active-item .accordion-header{
  border-bottom: 1px solid #EEEEEE;
  
}
.accordion-f-item .accordion-body .bod-ctx{
  padding: 15px;
}
.accordion-f-item .red-text-th{
  padding-left: 10px;
  color: #DA2128;
}
.accordion-f-item{
  
}
.accordion-f-item{
  
}
.accordion-f-item{
  
}

.hidden-class{
  display: none;
}
.info-sumary-container .info-group{
  display: flex;
}
.info-sumary-container .info-group .col-m-left {

}
.info-sumary-container .info-group .col-m-left span{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}
.info-sumary-container .info-group .col-m-right {
  padding-left: 10px;

}
.info-sumary-container .info-group .col-m-right span{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
}
.react-confirm-alert, .react-confirm-alert-overlay{
  z-index: 9999999999!important;
}

/*common css*/
.fade-text-normal{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}
.red-bold-text{
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #DA2128;
}
.text-i{
  font-style: italic;
}
.amount_text{
  padding-top: 5px;
  padding-left: 5px;
  color: #888888;
}
.dl-flex{
  display: flex;
}
.pd-l-10{
  padding-left: 10px;
}
.text-bold{
  font-weight: bold;
}
.scroll-y{
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: clip;
}
.scroll-y::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgb(209 189 189 / 30%);
  background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar-thumb
{
  background-color: #319945;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {

  .discover_insur_cs{
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
  }

  .btn_back_home {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    width: 100%;
  }
  .css_mg_top {
    margin-top: -40px;
  }
  .css_img_san {
    width: 100% !important;
    height: auto !important;
  }
  .buy_more_css {
    width: 100%;
  }
  .add_info_css {
    width: 100%;
  }
  .css_soluong {
    justify-content: space-between;
  }
  .contain_css_sl {
    margin-bottom: 15px !important;
    justify-content: flex-end;
  }
  .css_fee_sl {
    margin-top: 0px;
  }
  .css_rong_kt {
    width: 69%;
  }
  .form-contain.eclaim-f{
    padding: 0px 15px;
  }
  .person_is{
    display: none;
  }
  .jjksx .delete_ngbd {
    font-size: 14px;
  }
  .content_success_reg{
    font-size: 18px;
    line-height: 27px;
  }
}
