.footer_form_bhsk{
  height: 60px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.f_info{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  margin: 0 auto;
  text-align: center;
}
.f_info p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #777777;
  margin-bottom: 0;

}
.f_info a{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: underline!important;
  color: #DA2128!important;
}
.f_button, .f_button:active{
  border:none!important;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  background: #329945;
  background-color: #329945!important;
  border-radius: 40px;
  padding: 5px 20px
}
.f_button:hover{
  background: #20672d;
  background-color: #20672d!important;
}
.f_button:disabled{
  background: #C4C4C4!important;
  background-color: #C4C4C4!important;
  cursor: not-allowed;
}
.j_button:disabled{
  background: #C4C4C4!important;
  background-color: #C4C4C4!important;
  cursor: not-allowed;
}
.j_button, .j_button:active{
  border:1px solid #329945!important;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #329945;
  background: none;
  background-color: none!important;
  border-radius: 40px;
  padding: 5px 20px
}
.j_button:hover{
  color: #329945 !important;
  background: #ddfbe3 !important;
  background-color: #ddfbe3 !important;
}
.j_button:focus{
  color: #329945;
  background: none;
}

.footer_button{
  position: absolute;
  right: 10px;
  top: 15px;
}
.footer_button_prev{
  position: absolute;
  left: 10px;
  top: 15px;
}